html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

hr {
	width: 200px;
	height: 5px;
	display: inline-block;
	margin: 0 0 20px 0;
	border-top: 3px solid #f9ca24;
	border-bottom: 1px solid #f9ca24;
}

.btn-yellow {
	background-color: #f9ca24;
	border: 0px solid transparent;
	color: #ffffff;
}

.btn-yellow:hover {
	background-color: #f1c40f;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.9);
}

nav.navbar.navbar-fixed-top {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16);
	background-color: #ffffff;
}

ul.nav.navbar-nav {
	float: right;
	margin: 40px 0;
}

.navbar-brand {
	height: auto;
}

.navbar-brand > img {
	width: 150px;
	height: auto;
}

.navbar-toggle {
	padding: 10px;
	margin: 40px 20px;
	border: 1px solid #333333;
}

.navbar-toggle .icon-bar {
	background-color: #333333;
}

.navbar-nav>li>a {
	color: #333333;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	padding: 5px 15px;
	font-weight: 200;
	/*padding: 1em;*/
	letter-spacing: 1px;
}

.navbar-nav>li.active {
	border-bottom: 2px solid #f9ca24;
}

.navbar-nav>li>a:hover {
	text-decoration: none;
	background-color: #f9ca24;
	color: #ffffff;
	font-weight: 200;
}

.back-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/* Carousel base class */
.carousel {
	height: 100vh;
	margin-bottom: 60px;
}

.carousel-inner {
	height: 100%;
}

.carousel-caption {
	z-index: 10;
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	flex-direction: column;
	justify-content: center;
}

.carousel-caption h1 {
	font-weight: 200;
	margin-top: 100px;
}

.carousel-caption-bottom h1 {
	margin-top: 0px;
}

.carousel-caption-bottom {
	justify-content: flex-end;
}

.carousel-caption-bottom .btn-yellow {
	margin-bottom: 50px;
}

.carousel .item {
	height: 100%;
	background-color: #777;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
}

.carousel-indicators .active {
	background-color: #f9ca24;
}

.volunteer--box {
	background-color: #ffbe76;
	color: #ffffff;
}

.sponsor--box {
	background-color: #badc58;
	color: #ffffff;
}

.donate--box {
	background-color: #686de0;
	color: #ffffff;
}

.triple-boxes {
	padding: 0;
	text-align: center;
	margin-bottom: 60px;
}

.triple-boxes a.box--link h1 {
	text-transform: uppercase;
	padding: 80px 0;
}

a.box--link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #ffffff;
}

.sponsored-kids h1 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.sponsored-kids {
	margin: 60px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sponsored-kids img {
	width: 100%;
	height: auto;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.featurette-divider {
	border-top: 2px solid #eeeeee;
	border-bottom: 0px solid transparent;
	margin: 0 auto;
	display: block;
}

.sponsored-kids-header {
	text-align: center;
}

.sarthi-meaning {
	background-color: #f9ca24;
	margin: 0 0 60px 0;
	padding: 60px 0;
}

.sarthi-meaning p {
	color: #1d1d1d;
	text-align: center;
}

.sarthi-meaning h1 {
	color: #ffffff;
	text-align: center;
	font-weight: 900;
	font-size: 256px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	color: rgba(255,255,255,0.3);
	letter-spacing: 0.05em;
}

.updates-section {
	text-align: center;
	margin-bottom: 60px;
}

.updates-section .list-group {
	max-height: 200px;
	overflow: scroll;
}

.updates-section .list-group .list-group-item {
	border: 0;
	border-bottom: 2px solid #eeeeee;
}

@media (max-width: 768px) {
	.navbar-collapse>.nav.navbar-nav {
		width: 100%;
		text-align: center;
	}

	.navbar-nav>li {
		border-bottom: 1px solid #333333;
		padding: 1em;
	}

	.navbar-nav>li:last-child {
		border-bottom: 1px solid transparent;
	}

	.navbar-fixed-top .navbar-collapse {
		max-height: 90vh;
	}

	.sponsored-kids {
		display: block;
	}

	.sarthi-meaning h1 {
		font-size: 92px;
		letter-spacing: 0;
		padding: 175px 0 0 0;
	}

}


@media (min-width: 768px) {
	.navbar-nav>li {
		border-right: 1px solid #333333;
	}

	.navbar-nav>li:last-child {
		border-right: 1px solid transparent;
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
}