{% extends 'base.html' %}

{% block content %}
	{{ super() }}

	<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide img-responsive" src="{{ url_for('static', filename='img/carousel/1.jpg') }}" alt="If you can give a child only one gift, let it be education.">
				<div class="carousel-caption">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<h1>If you can give a child only one gift, let it be <strong>education</strong>.</h1>
								<!-- <p>The only thing more expensive than education is ignorance.</p> -->
								<p><a class="btn btn-lg btn-primary btn-yellow" href="#" role="button">Become a Sarthi</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="second-slide" src="{{ url_for('static', filename='img/carousel/2.jpg') }}" alt="The only thing more expensive than education is ignorance.">
				<div class="carousel-caption carousel-caption-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>The only thing more <strong>expensive</strong> than education is <strong>ignorance</strong>.</h1>
								<p><a class="btn btn-lg btn-primary btn-yellow" href="#" role="button">Become a Sarthi</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img class="third-slide" src="{{ url_for('static', filename='img/carousel/3.jpg') }}" alt="Once you have education, no one can take it from you.">
				<div class="carousel-caption">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<h1>Once <strong>you</strong> have education, no one can take it from <strong>you</strong>.</h1>
								<p><a class="btn btn-lg btn-primary btn-yellow" href="#" role="button">Become a Sarthi</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a> -->
	</div><!-- /.carousel -->

	<!-- Buttons become a sarthi secotion -->
	<div class="container-fluid triple-boxes">
		<div class="row">
			<div class="col-xs-12">
				<h1>Become a <strong>Saarthi</strong>!</h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12 volunteer--box">
				<a href="" class="box--link">
					<h1>Volunteer</h1>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 sponsor--box">
				<a href="" class="box--link">
					<h1>Sponsor</h1>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12 donate--box">
				<a href="" class="box--link">
					<h1>Donate</h1>
				</a>
			</div>
		</div>
	</div>

	<!-- Stories of sponsored sections -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 sponsored-kids-header">
				<h1>Stories of <strong>Sponsored kids</strong>!</h1>
				<hr>
			</div>
		</div>

		<div class="row sponsored-kids">
			<div class="col-md-8 col-xs-12">
				<h1>Ritika. <span class="text-muted">from XYZ Center</span></h1>
				<p class="lead">Hi!! My name is Ritika and I'm 6. I'm the only kid of my parents. I live with my grandma. I wonder why papa always fought with mummy but now they don't live together anymore. Both grandma and mummy love me more than anyone else but they were not able to continue my schooling. So I had to drop it. But now I've started it again. I'm going to school again with my friends and this school is even better than the last one. None of the ma'ams ever punishes any kid. My ma'am says that I have the best handwriting in the class. So I just love it here. Now I can see my dream of becoming a teacher turning into reality. Touchwood!!</p>
			</div>
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/stories/ritika.png') }}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row sponsored-kids">
			<div class="col-md-8 col-md-push-4 col-xs-12">
				<h1>Zeeshan. <span class="text-muted">from ABC Center</span></h1>
				<p class="lead">Hi!! My name is Ritika and I'm 6. I'm the only kid of my parents. I live with my grandma. I wonder why papa always fought with mummy but now they don't live together anymore. Both grandma and mummy love me more than anyone else but they were not able to continue my schooling. So I had to drop it. But now I've started it again. I'm going to school again with my friends and this school is even better than the last one. None of the ma'ams ever punishes any kid. My ma'am says that I have the best handwriting in the class. So I just love it here. Now I can see my dream of becoming a teacher turning into reality. Touchwood!!</p>
			</div>
			<div class="col-md-4 col-md-pull-8 col-xs-12">
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/500x500.svg') }}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row sponsored-kids">
			<div class="col-md-8 col-xs-12">
				<h1>Nasra. <span class="text-muted">from DEF Center</span></h1>
				<p class="lead">Hi!! My name is Ritika and I'm 6. I'm the only kid of my parents. I live with my grandma. I wonder why papa always fought with mummy but now they don't live together anymore. Both grandma and mummy love me more than anyone else but they were not able to continue my schooling. So I had to drop it. But now I've started it again. I'm going to school again with my friends and this school is even better than the last one. None of the ma'ams ever punishes any kid. My ma'am says that I have the best handwriting in the class. So I just love it here. Now I can see my dream of becoming a teacher turning into reality. Touchwood!!</p>
			</div>
			<div class="col-md-4 col-xs-12">
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/500x500.svg') }}" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">
	</div>
	{% block footer %}{{ super() }}{% endblock %}

{% endblock %}
